{% extends "app_tp/base.html" %}
<!-- navbar Юзер не вошел в лк -->

{% block navbar %}
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mr-2 bs-icon">
                <i class="la la-question"></i>
            </span>
            <span>BubliQustion</span>
        </a>
    <div id="navcol-5" class="collapse navbar-collapse" style="margin-right: -103px;padding-right: 108px;">
        <input type="search" />
        <a class="btn btn-primary ml-lg-2" role="button" href="#">Ask!</a>
    </div>
    <div>
        <div class="row">
            <div class="col"><a href="#" style="margin: 5px;">log out</a></div>
        </div>
        <div class="row">
            <div class="col"><a href="#" style="margin: 5px;">settings</a></div>
        </div>
    </div>
</div>
{% endblock %}
{% block content %}

{% endblock %}>