{% extends "app_tp/layouts/base_reg.html" %}

{% load static %}


{% block content %}

<h1>Settinds: Doctor Bub</h1>
<div>
    <div class="row">
        <div class="col-lg-3"><span style="margin: 10px;">Login</span></div>
        <div class="col"><input type="text" style="margin: 10px 0px 10px;margin-bottom: 9px;width: 400px;" minlength="1" maxlength="50" /></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><span style="margin: 10px;">Email</span></div>
        <div class="col"><input type="email" style="margin: 10px 0px 10px;width: 400px;" minlength="1" /></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><span style="margin: 10px;">NickName</span></div>
        <div class="col"><input type="text" style="margin: 10px 0px 10px;margin-bottom: 9px;width: 400px;" minlength="1" maxlength="100" /></div>
    </div>
    <div class="row">
        <div class="col-lg-3"><span style="margin: 10px;">Upload avatar</span></div>
        <div class="col">
            <img class="avatar" src="{% static 'app_tp/img/ava.png' %}"/>
            <div class="row">
                <div class="col"><input type="file" data-toggle="tooltip" style="margin: 10px 0px 10px;width: 400px;" accept="image/*" /></div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col"><button class="btn btn-primary" type="button" style="margin: 0px;margin-bottom: 1px;margin-left: 0px;">Save</button></div>
    </div>
</div>

{% endblock %}

