<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>index</title>
</head>

<body style="font-family: 'Architects Daughter', serif;background: rgb(220,238,255);">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mr-2 bs-icon"><i class="la la-question"></i></span><span>BubliQustion</span></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-5"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-5" class="collapse navbar-collapse"><input type="search" /><a class="btn btn-primary ml-lg-2" role="button" href="#">Ask!</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"><img width="100" height="80" style="height: 100px;" /></li>
                    <li class="nav-item"><span style="color: var(--white);margin-left: 5px;">Doctor Bub</span><a class="nav-link" href="#">settings</a><a class="nav-link" href="#">log out</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="color: rgb(0,0,0);font-family: 'Architects Daughter', serif;">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <ol class="breadcrumb" style="background: rgb(0,56,112);">
                    <li class="breadcrumb-item"><a href="#"><span>New BubQuestions</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Hot BubQuestions</span></a></li>
                </ol>
                <div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-3"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px;margin-left: 54px;margin-right: 34px;">5</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div><a href="#" style="font-size: 35px;">How to find bublic?</a>
                                <p>Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-2"><a href="#">Link</a><span>(3)</span></div>
                                    <div class="col"><span>Tags:</span>
                                        <ul class="list-inline" style="transform: translate(0px);">
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-3"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px;margin-left: 54px;margin-right: 34px;">5</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div><a href="#" style="font-size: 35px;">How to find bublic?</a>
                                <p>Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-2"><a href="#">Link</a><span>(3)</span></div>
                                    <div class="col"><span>Tags:</span>
                                        <ul class="list-inline" style="transform: translate(0px);">
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <h1>Popular tags</h1>
                        <ul class="list-inline">
                            <li class="list-inline-item"><span>Text</span></li>
                            <li class="list-inline-item"><span>Text</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Best members</h1>
                        <ul class="list-unstyled">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="d-flex" style="background: #003870;margin-top: auto;">
        <p style="color: rgb(91,124,157);border-color: #9bc2eb;">BubliQuestion</p>
    </footer>
</body>

</html>