{% extends "base.html" %}
{% block title %}
profile
{% endblock %}

{% block navbar %}
    <div class="container">
        <a class="navbar-brand d-flex align-items-center" href="#">
            <span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mr-2 bs-icon">
                <i class="la la-question"></i>
            </span><span>BubliQustion</span>
        </a>
    <div id="navcol-5" class="collapse navbar-collapse" style="margin-right: -103px;padding-right: 108px;">
        <input type="search" />
        <a class="btn btn-primary ml-lg-2" role="button" href="#">Ask!</a>
    </div><img width="100" height="80" style="height: 100px;" />
    <div>
        <div class="row">
            <div class="col"><span style="color: azure;margin-left: 5px;">Doctor Bub</span></div>
        </div>
        <div class="row">
            <div class="col"><a href="#" style="margin: 5px;">log out</a></div>
        </div>
        <div class="row">
            <div class="col"><a href="#" style="margin: 5px;">settings</a></div>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="col-md-8">
                <ol class="breadcrumb" style="background: rgb(0,56,112);">
                    <li class="breadcrumb-item" style="margin-left: 10px ;"><a href="#"><span>New BubQuestions</span></a></li>
                    <li class="breadcrumb-item"><a href="#"><span>Hot BubQuestions</span></a></li>
                </ol>
                <div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-3"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px;margin-left: 54px;margin-right: 34px;">5</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div><a href="#" style="font-size: 35px;">How to find bublic?</a>
                                <p>Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-2"><a href="#">Link</a><span>(3)</span></div>
                                    <div class="col"><span>Tags:</span>
                                        <ul class="list-inline" style="transform: translate(0px);">
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-3"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px;margin-left: 54px;margin-right: 34px;">5</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div><a href="#" style="font-size: 35px;">How to find bublic?</a>
                                <p>Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col-lg-2"><a href="#">Link</a><span>(3)</span></div>
                                    <div class="col"><span>Tags:</span>
                                        <ul class="list-inline" style="transform: translate(0px);">
                                            <li class="list-inline-item"><a href="#">Lin341213k</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <nav>
                    <ul class="pagination">
                        <li class="page-item"><a class="page-link" aria-label="Previous" href="#"><span aria-hidden="true">«</span></a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">4</a></li>
                        <li class="page-item"><a class="page-link" href="#">5</a></li>
                        <li class="page-item"><a class="page-link" aria-label="Next" href="#"><span aria-hidden="true">»</span></a></li>
                    </ul>
                </nav>
            </div>
{% endblock %}
