{% extends "layouts/navbar.html" %}

{% block content %}
<h1>Log In</h1>
{% if error_message %}
<div class="alert alert-warning" role="alert"><span><strong>{{ error_message }}</strong></span></div>
{% endif %}
<div>
    <form method="POST">
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ request.GET.next }}">
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-3"><span style="margin: 10px;">Login</span></div>
            <div class="col">
                {{ form.username }}
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-3"><span style="margin: 10px;">Password</span></div>
            <div class="col">
                {{ form.password }}
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col"><button class="btn btn-primary" type="submit" style="margin: 0px;margin-bottom: 1px;margin-left: 0px;">Log in</button>
                <a href="{% url 'signup' %}" style="margin: 0px 0px 0px 20px;">Create new bubcount</a>
            </div>
        </div>
    </form>
</div>
{% endblock %}
