{% extends "layouts/navbar.html" %}
{% load static %}

{% block content %}

<h1>Settings: {{ user.profile.nickname }}</h1>

{% if form.non_field_errors %}
    <div class="alert alert-warning">
        {{ form.non_field_errors }}
    </div>
{% endif %}

<div>
    <form method="post" enctype="multipart/form-data">
        {% csrf_token %}
        <div class="row">
            <div class="col-lg-3"><span style="margin: 10px;">Login</span></div>
            <div class="col"><input type="text" value="{{ user.username }}" style="margin: 10px 0px 10px;margin-bottom: 9px;" minlength="1" maxlength="50" disabled /></div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-3"><span style="margin: 10px;">Email</span></div>
            <div class="col">{{ form.email }}</div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-3"><span style="margin: 10px;">NickName</span></div>
            <div class="col">{{ form.nickname }}</div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col-lg-3"><span style="margin: 10px;">Upload avatar</span></div>
            <div class="col">
                {% if user.profile.avatar %}
                    <img class="avatar" src="{{ user.profile.avatar.url }}">
                {% endif %}
                <div class="row" style="margin-bottom: 20px;">
                    <div class="col">{{ form.avatar }}</div>
                </div>
            </div>
        </div>
        <div class="row" style="margin-bottom: 20px;">
            <div class="col"><button class="btn btn-primary" type="submit" style="margin: 0px;margin-bottom: 1px;margin-left: 0px;">Save</button></div>
        </div>
    </form>
</div>
{% endblock %}
