{% extends "layouts/navbar.html" %}

{% load static %}

{% block content %}
<div class="border-dark" style="margin-top: 20px;padding-bottom: 2px;margin-bottom: 20px;border-bottom-style: solid;">
    <div class="row">
        <div class="col-lg-3">
            <img class="avatar" src="{% static 'app_tp/img/ava.png' %}"/>
            <p style="margin: 10px 0px 15px;width: 41px;margin-left: 45px;">{{ question.rating }} </p>
            {% include 'components/buttons_like.html' %}
        </div>
        <div class="col" style="word-wrap: break-word;">
            <div>
                <h1 style="font-size: 20px; word-wrap: break-word; word-break: break-all;">{{question.title}}</h1>
                <p style="word-wrap: break-word; word-break: break-all;">{{ question.text }} </p>
            </div>
            <div>
                <span>Tags:</span>
                {% for tag in question.tags.all %}
                <li class="list-inline-item">
                    <a href="{% url 'tag' tag_id=tag.id  %}">{{tag.name}}</a>
                </li>
                {% endfor %}
            </div>
        </div>
    </div>
</div>


{% for answer in answers %}

<div id="answer-{{ answer.id }}">


<div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
    <div class="row">
        <div class="col-lg-3">
            <img class="avatar" src="{% static 'app_tp/img/ava.png' %}"/>
                <p style="margin: 0px 0px 15px 45px;">{{ answer.rating }} </p>
            {% include 'components/buttons_like.html' %}
        </div>
        <div class="col" style="word-wrap: break-word;">

            <div>
                <p style="margin-top: 5px"> {{answer.text}}</p>
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="form-check"><input id="formCheck-1" class="form-check-input" type="checkbox" /><label class="form-check-label" for="formCheck-1">Correct</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

</div>


{% endfor %}


{% include 'components/pagination.html' with page_obj=answers %}


<div class="border rounded-0 border-dark" style="margin: 10px 0px 10px 0px;margin-bottom: 10px;margin-top: 11px;border-width: 7.571429px;border-style: solid;background: #000000;"></div>
<div>
    <form method="POST">
        {% csrf_token %}
        <div class="row" style="margin-bottom: 20px;">
            <div class="col">
                {{ form.text }}
                {% if form.text.errors %}
                    <div class="alert alert-warning">
                        {{ form.text.errors }}
                    </div>
                {% endif %}
            </div>
        </div>

        <div class="row" style="margin-bottom: 20px;">
            <div class="col"><button class="btn btn-primary" type="submit">Bub to answer!</button></div>
        </div>
    </form>
</div>

{% endblock %}


