{% extends "layouts/base_notreg.html" %}

{% load static %}


 {% block content %}
<div class="border-dark" style="margin-top: 20px;height: 250px;padding-bottom: 2px;margin-bottom: 20px;border-bottom-style: solid;">
    <div class="row">
        <div class="col-lg-3" style="height: 250px;">
            <img   src="{% static 'app_tp/img/ava.png' %}"   style="max-width: 100px;max-height: 80px;margin: 10px;"/>
            <p style="margin: 0px 0px 15px;width: 41px;margin-left: 45px;">5</p>
            {% include 'components/buttons_like.html' %}
        </div>
        <div class="col" style="word-wrap: break-word;">
            <div style="height: 180px;">
                <h1 style="height: 50px;">{{question.title}} - How to find Bublik?</h1>
                <p style="height: 100px;">{{ question.text }}</p>
            </div>
            <div>
                <div class="row">
                    <div class="col" style="height: 65px;"><span>Tags:</span>
                            {% for tag in question.tags.all %}
                            <li class="list-inline-item">
                                <a href="{% url 'tag' tag_id=tag.id  %}">{{tag.name}}</a>
                            </li>
                            {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% for answer in answers %}

<div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
    <div class="row">
        <div class="col-lg-3">
            <img   src="{% static 'app_tp/img/ava.png' %}"   style="max-width: 100px;max-height: 80px;margin: 10px;"/>
            <p style="margin: 0px 0px 15px 45px;">5</p>
            {% include 'components/buttons_like.html' %}
        </div>
        <div class="col" style="word-wrap: break-word;">

            <div>
                <p style="margin-top: 5px"> {{answer.text}}</p>
            </div>
            <div>
                <div class="row">
                    <div class="col">
                        <div class="form-check"><input id="formCheck-1" class="form-check-input" type="radio" /><label class="form-check-label" for="formCheck-1">Correct</label></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endfor %}

<nav>
    <ul class="pagination">
        {% if answers.has_previous %}
        <li class="page-item">
            <a class="page-link"  href="?page=1">
                First
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" aria-label="Previous" href="?page={{ answers.previous_page_number }}">
            <span aria-hidden="true">«</span>
            </a>
        </li>
        {% endif %}
        <li class="page-item">
            <a class="page-link" href="#">Page {{answers.number}} of {{answers.paginator.num_pages}}</a>
        </li>
        {% if answers.has_next %}
        <li class="page-item">
            <a class="page-link" aria-label="Next" href="?page={{ answers.next_page_number }}">
                <span aria-hidden="true">»</span>
            </a>
        </li>
        <li class="page-item">
            <a class="page-link" href="?page={{ answers.paginator.num_pages }}">Last {{answers.paginator.num_pages}}
            </a>
        </li>
        {% endif %}
    </ul>
</nav>

<div class="border rounded-0 border-dark" style="margin: 10px 0px 10px 0px;margin-bottom: 10px;margin-top: 11px;border-width: 7.571429px;border-style: solid;background: #000000;"></div>
<div>
    <div class="row">
        <div class="col"><textarea style="width: 600px; margin-top: 10px" minlength="1" maxlength="300" title="Enter your answer here..." placeholder="Enter your answer here..."></textarea></div>
    </div>

    <div class="row">
        <div class="col"><button class="btn btn-primary" type="button">Bub to answer!</button></div>
    </div>
</div>

{% endblock %}



