<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>question</title>
</head>

<body style="background: rgb(220,238,255);">
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark py-3">
        <div class="container"><a class="navbar-brand d-flex align-items-center" href="#"><span class="bs-icon-sm bs-icon-rounded bs-icon-primary d-flex justify-content-center align-items-center mr-2 bs-icon"><i class="la la-question"></i></span><span>BubliQustion</span></a><button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-5"><span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
            <div id="navcol-5" class="collapse navbar-collapse"><input type="search" /><a class="btn btn-primary ml-lg-2" role="button" href="#">Ask!</a>
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item"></li>
                    <li class="nav-item"></li>
                    <li class="nav-item"><a class="nav-link" href="#">log in</a><a class="nav-link" href="#">register</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div class="container" style="color: rgb(0,0,0);font-family: 'Architects Daughter', serif;">
        <div class="row" style="margin-top: 20px;">
            <div class="col-md-8">
                <div class="border-dark" style="margin-top: 20px;height: 250px;padding-bottom: 2px;margin-bottom: 20px;border-bottom-style: solid;">
                    <div class="row">
                        <div class="col-lg-3" style="height: 250px;"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px;width: 41px;margin-left: 45px;">5</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div style="height: 180px;">
                                <h1 style="height: 50px;">How to find Bublik?</h1>
                                <p style="height: 100px;">Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col" style="height: 65px;"><span>Tags:</span>
                                        <ul class="list-inline" style="transform: translate(0px);">
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                            <li class="list-inline-item"><a href="#">Link</a></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-3"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px 45px;">5</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div>
                                <h1>How to find Bublik?</h1>
                                <p>Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check"><input id="formCheck-1" class="form-check-input" type="radio" /><label class="form-check-label" for="formCheck-1">Correct</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded-0 border-dark shadow" style="margin-bottom: 20px;margin-top: 20px;">
                    <div class="row">
                        <div class="col-lg-3"><img style="margin: 10px;" />
                            <p style="margin: 0px 0px 15px 45px;">6</p>
                            <div class="btn-group btn-group-sm" role="group"><button class="btn btn-primary" type="button">Bub<i class="far fa-smile"></i></button><button class="btn btn-primary" type="button">Bub<i class="far fa-frown"></i></button></div>
                        </div>
                        <div class="col">
                            <div>
                                <h1>How to find Bublik?</h1>
                                <p>Help me</p>
                            </div>
                            <div>
                                <div class="row">
                                    <div class="col">
                                        <div class="form-check"><input id="formCheck-2" class="form-check-input" type="radio" /><label class="form-check-label" for="formCheck-2">Correct</label></div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="border rounded-0 border-dark" style="margin: 10px 0px 10px 0px;margin-bottom: 10px;margin-top: 11px;border-width: 7.571429px;border-style: solid;background: #000000;"></div>
                <div><textarea style="width: 600px;" minlength="1" maxlength="300" title="Enter your answer here..." placeholder="Enter your answer here..."></textarea><button class="btn btn-primary" type="button">Bub to answer!</button></div>
            </div>
            <div class="col-md-4">
                <div class="row">
                    <div class="col">
                        <h1>Popular tags</h1>
                        <ul class="list-inline">
                            <li class="list-inline-item"><span>Text</span></li>
                            <li class="list-inline-item"><span>Text</span></li>
                        </ul>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <h1>Best members</h1>
                        <ul class="list-unstyled">
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                            <li><a href="#">Link</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <footer class="d-flex" style="background: #003870;margin-top: auto;">
        <p style="color: rgb(91,124,157);border-color: #9bc2eb;">BubliQuestion</p>
    </footer>
</body>

</html>